# Build output
/build/
/Debug/
/Release/
/cmake-build-*/
build-mcu/

# STM32CubeIDE
.settings/
.metadata/
*.launch

# CLion
.idea/

# Compiled
*.o
*.a
*.elf
*.bin
*.map
*.hex
*.lst
*.d
*.su

# Logs & tmp
*.log
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db

# Doxygen
Docs/Generated/
